*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
 list-style: none;
 margin-right: 5%;
 font-weight: 50%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size:  60px;
}
.rightmain{
    width: 60%;
}